<div class="container">

  <div class="starter-template">
    <h1>Dashboard</h1>
    <br>
    <p>Welcome back, <strong>{{playerInfo.username}}</strong> !</p>
    <br>
    <h2>{{playerInfo.companyName}} data</h2>
    <ul>
      <li>Total balance: {{playerInfo.balance}}€</li>
    </ul>
    <br>
    <h2>General metrics</h2>
    <ul>
      <li>Datacenter type: Garage</li>
      <li>Total power used: 200W / 5kW</li>
      <li>Total Internet bandwidth used: 1Mbps / 20Mbps</li>
      <li>Outdoor temperature: 20 °C</li>
      <li>Datacenter cooling: nothing</li>
      <li>Datacenter temperature: 25 °C</li>
    </ul>
    <h2>Servers</h2>
    <h3>Server #1</h3>
    <ul>
      <li>Type: Small</li>
      <li>Power usage: 200W</li>
      <li>Internet bandwidth usage: 1Mbps</li>
    </ul>
  </div>

</div><!-- /.container -->
